# Perform a Gradle `build` which includes `assemble`, `check`, `test`
# of the projects, and uploads the generated artifacts.

name: Generate release artifacts

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: gradle
      - name: Build the generativeai release artifacts
        run: ./gradlew generativeai:publishAllPublicationsToMavenRepository
      - name: Upload the generativeai artifacts
        uses: actions/upload-artifact@v2
        with:
          name: generative-ai-android
          path: generativeai/m2
          retention-days: 5
      - name: Build the common release artifacts
        run: ./gradlew common:publishAllPublicationsToMavenRepository
      - name: Upload the common artifacts
        uses: actions/upload-artifact@v2
        with:
          name: common-artifacts
          path: common/m2
          retention-days: 5
      - name: Build the release artifacts for all sdks
        run: ./gradlew publishAllPublicationsToMavenRepository
      - name: Upload the generated artifacts
        uses: actions/upload-artifact@v2
        with:
          name: release-artifacts
          path: m2
          retention-days: 5
